.header {
    background-color: darkcyan;
    height: 50px;
    padding-top: 20px;
    
}
.tablediv{
    position: relative;
    width: 500px;
    left: 20px;
    top: 30px;
}
.topdiv{
    position: relative;
    left: 100px;
    width: 500px;
    top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr>td:nth-child(1){
      color: #008b8b;
      font-size: 20px;
  }

  .topdiv > div{
      display: flex;
  }

  .topdiv > div > img {
      width: 350px;
      height: 200px;
      position: absolute;
      left: 550px;
  }