.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    margin-left: 5px;
  }

  
  #container {
    height: 200px;
    margin-top: 50px;
  }
  
  #ball-1{
    animation-name: bounce;
    animation-delay: 0.1s;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    background-color: #4a89dc;
  }
  #ball-2{
    animation-name: bounce;
    animation-delay: 0.2s;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    background-color: #967adc;
  }
  #ball-3{
    animation-name: bounce;
    animation-delay: 0.3s;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    background-color: #da4453;
  }
  #ball-4{
    animation-name: bounce;
    animation-delay: 0.4s;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    background-color: #f6b042;
  }
  #ball-5{
    animation-name: bounce;
    animation-delay: 0.5s;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    background-color: #37bc9b;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
    60% {
      transform: translateY(-12px);
    }
    80%{
      transform: translateY(0);
    }
  }
